    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Włącz nawigację</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">LISTA ZADAŃ</a>
                </div>

                <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav>
<div class="content">
            <div class="container-fluid">
                {{#if success_msg}}
                    <div class="alert alert-success">{{success_msg}}</div>
                {{/if}}
                <div class="row">
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">ZADANIA JEDNORAZOWE</h4>
                            </div>
                            <div class="content">
                                <div class="table-full-width">
                                    <table class="table">
                                        <tbody>
                                            {{#if oneshotTasks}}
                                                {{#each oneshotTasks}}
                                                    <tr>
                                                        <td><span title="{{desc}}"><b>Tytuł zdania:</b> {{name}}</span></td>
                                                        <td><b>Termin:</b> {{dateFormat deadline "MM.DD.YYYY"}}</td>
                                                        <td><b>Punkty za wykonanie:</b> {{score}}</td>
                                                    </tr>
                                                {{/each}}
                                            {{/if}}
                                        </tbody>
                                    </table>
                                </div>

                                <div class="footer">
                                    <hr>
                                    <div class="stats">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				
				<div class="row">
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">ZADANIA CYKLICZNE</h4>
                            </div>
                            <div class="content">
                                <div class="table-full-width">
                                    <table class="table">
                                        <tbody>
                                            {{#if repeatTasks}}
                                                {{#each repeatTasks}}
                                                    <tr>
                                                        <td><span title="{{desc}}"><b>Tytuł zdania:</b> {{name}}</span></td>
                                                        <td><b>Termin:</b> {{dateFormat deadline "MM.DD.YYYY"}}</td>
                                                        <td><b>Punkty za wykonanie:</b> {{score}}</td>
                                                    </tr>
                                                {{/each}}
                                            {{/if}}
                                        </tbody>
                                    </table>
                                </div>

                                <div class="footer">
                                    <hr>
                                    <div class="stats">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				
            </div>
        </div>
</div>