<div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Włącz nawigację</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">LISTA ZADAŃ</a>
                </div>

                <div class="collapse navbar-collapse">
                   
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
				
                    <div class="col-md-12">
					                       {{#if oneshotTasks}}
                                                {{#each oneshotTasks}}
                                                     <div class='col-sm-3'>
                                                        <div class="panel panel-default">
                                                          <div class="panel-heading">
                                                            <h4 class='panel-title text-center'>{{name}}</h4>
                                                          </div>
                                                            <div class="img-responsive"> <img src="stock_photos/naczynia.jpg" class="img-responsive"></div>
                                                          <div class="panel-body">

                                                            <p>
                                                              {{desc}}
                                                            </p>
                                                              <p>Termin: {{dateFormat deadline "MM.DD.YYYY"}}</p>
                                                          </div>
                                                          <div class='panel-footer'>
                                                            <a href="#" class="btn btn-primary btn-info"><span class="glyphicon glyphicon-list-alt"></span> PUNKTY: {{score}}</a>
                                                            <a href="#" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-ok"></span> NAGRODA</a>
                                                          </div>
                                                        </div>
                                                      </div>
                                                {{/each}}
                                            {{/if}}
				                            {{#if repeatTasks}}
                                                {{#each repeatTasks}}
                                                     <div class='col-sm-3'>
                                                        <div class="panel panel-default">
                                                          <div class="panel-heading">
                                                            <h4 class='panel-title text-center'>{{name}}</h4>
                                                          </div>
                                                            <div class="img-responsive"> <img src="stock_photos/naczynia.jpg" class="img-responsive"></div>
                                                          <div class="panel-body">

                                                            <p>
                                                              {{desc}}
                                                            </p>
                                                              <p>Termin: {{dateFormat deadline "MM.DD.YYYY"}}</p>
                                                          </div>
                                                          <div class='panel-footer'>
                                                            <a href="#" class="btn btn-primary btn-info"><span class="glyphicon glyphicon-list-alt"></span> PUNKTY: {{score}}</a>
                                                            <a href="#" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-ok"></span> NAGRODA</a>
                                                          </div>
                                                        </div>
                                                      </div>
                                                {{/each}}
                                            {{/if}}


  

					
                    </div>
                </div>
				
				
				
            </div>
        </div>
    </div>